body{
    background-color: lightskyblue;
}

.main{
    display: flex;
    justify-content: center;
}

.header{
    background-color: aquamarine;
    text-align: center;
    margin: 50px;
    border-radius: 40px;
}